

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  display: flex;
  align-items: stretch;
  height: 100%
}

.Profiles {
  margin: 30px; 
}

.AddProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.ProfileList {
  width: 65%
}

.information {
  margin: 25px;
}

.image {
  width: 600px;
  height: 300px;
  object-fit: cover;
}

.name{
  font-weight: bold;
}

.buttons{
  margin: 10px;
}

.Card{
  border: 2px gray solid;
}

body{
  background-image: url(./Background/backkground.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.register{
  vertical-align: center;
  background-color: #8EDDE3;
  border: black 1px;
  height: 100%;
  width: 80%;
  display: flex;
}

.register-contents{
  margin: auto; 
  width: 80%;
}

.cardImage{
  width: 100%;
  height: 15vw;
  object-fit: contain;
}